.message {
  background-color: white;
  box-shadow: 0px 1px 3px black;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.message__informations {
  width: 80%;
}

.message__userName-time {
  font-size: 0.8rem;
  display: flex;
}

.message__userName {
  margin-right: 0.2rem;
}

.message__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.message__button--del,
.message__button--mod {
  font-size: 0.7rem;
}
