.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  background-color: white;
  box-shadow: 0px 1px 3px black;
  height: 6vh;
  align-items: center;
}

.navbar__title {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  background: -webkit-linear-gradient(#ffd7d7, #fd2d01);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: brightness(90%);
}

.navbar__icon-pseudo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

.material-icons {
  background: -webkit-linear-gradient(#ffd7d7, #fd2d01);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logout__icon {
  margin-left: 1.5rem;
  cursor: pointer;
}

.register__login {
  display: flex;
  flex-direction: column;
  margin-right: 0.3rem;
}

.register,
.login {
  margin: 0.1rem 0;
  border-radius: 0.2rem;
  width: 6rem;
  padding: 0.1rem;
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .register,
  .login {
    margin: 0.3rem 0;
    width: 6rem;
    padding: 0.2rem;
  }
}

@media screen and (min-width: 993px) {
  .register,
  .login {
    margin: 0.3rem 0;
    width: 6rem;
    padding: 0.2rem;
  }
}

@media screen and (min-width: 1400px) {
  .register__login {
    flex-direction: row;
  }

  .register,
  .login {
    margin: 1.2rem 0.5rem;
    padding: 0.3rem;
  }
}
