.topic {
  background-color: white;
  box-shadow: 0px 1px 3px black;
  margin-bottom: 1rem;
}

.topic__informations {
  font-size: 0.8rem;
}

.topic__userName--time {
  display: flex;
}

.topic__userName {
  font-weight: bold;
  margin-right: 0.2rem;
}

.topic__title {
  font-size: 1.3rem;
  margin: 0 0 1.5rem 0;
}

.topic__content {
  display: flex;
  flex-direction: column;
}

.button__del,
.button__mod {
  font-size: 0.7rem;
}
