.topic {
  background-color: white;
  box-shadow: 0px 1px 3px black;
}

.topic__pseudo-time {
  font-size: 0.8rem;
  margin: 0 1rem;
}

.topic__title-content {
  margin: 0 1rem;
}

.topic__title {
  font-size: 1.3rem;
}
