.topicPage {
  overflow-x: hidden;
  height: calc(98vh - 6vh);
  display: flex;
  flex-direction: column;
}

.topic {
  overflow: scroll;
}

.messages {
  overflow: scroll;
  scrollbar-width: none;
  height: 50vh;
}

.message__userName {
  font-weight: bold;
}

.textAreaContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 1rem;
}

.topicPage__buttons {
  display: flex;
  flex-direction: row;
}

.textAreaButton,
.return__button {
  margin: auto;
  width: 5rem;
  font-size: 1rem;
}

.test {
  background-color: #ffd7d7;
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .topicPage {
    width: 85%;
    margin: auto;
  }
}

@media screen and (min-width: 993px) {
  .topicPage {
    width: 70%;
    margin: auto;
  }
}

@media screen and (min-width: 1400px) {
  .topicPage {
    width: 50%;
  }
}
