body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffd7d7;
  filter: brightness(112%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
  height: 20vh;
  object-fit: cover;
  margin-bottom: 0.2rem;
}

.margin0_4 {
  margin: 0 0.4rem;
}

.button__style {
  border: none;
  border-radius: 0.5rem;
  background: -webkit-linear-gradient(#ffd7d7, #fd2d01);
  box-shadow: 0px 1px 3px black;
  width: 4rem;
  padding: 0.3rem;
  margin: 1rem 0.5rem;
}

.capitalize {
  text-transform: capitalize;
}

.deletePage {
  display: flex;
  justify-content: center;
}

.images {
  text-align: center;
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  img {
    width: 48%;
    margin: 0 0.1rem;
  }
}

@media screen and (min-width: 993px) {
  img {
    width: 48%;
    margin: 0 0.1rem;
    text-align: center;
  }
}
